.main {
  // flex: 1 1 auto;
  background-color: var(--color-bg-container);

  width: 75rem;
  padding: 35px 0 0 0px;
  margin: 30px auto;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border-radius: 1%;
  box-shadow: 4px 4px #f3f3f3;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
  
  // @include mobile {
  //   & {
  //     width: 100%;

  //   }
  // }

}
