.customselect {
  position: relative;
  width: 140px;
  background-color: #fafafa;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}