/*=============================================
=            Site Colors            =
=============================================*/

//general
$primary-color: #257aa6; // primary color for buttons
$success-color: #52c41a; // success state color
$warning-color: #faad14; // warning state color
$error-color: #f5222d; // error state color

// text color
$body-color:#41465A ; // body text color 
$link-color: #1890ff; // link color
$text-color: #eee; // body text color
$dark: #1d1f22; 

// buttons
$primary-hover-color: #0CADA7;
$secondary-hover-color: #0A948F;

// bg
$bg-primary: #eee; //bg color
$bg-white: #fff;

