:root {  
  --color-bg-primary: #{$bg-primary};
  --color-bg-container: #{$bg-white};
  --body-font-color: #{$body-color};
  --body-font-size: #{$fs-base};
  --body-font-weight: #{$fw-normal};
  --color-element-primary: #{$primary-color};
  --color-element-hover: #{$secondary-hover-color};
}
